*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i,
svg{
    pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad{
width: 5rem;
height: 5rem;
margin: 1rem 0.5rem;
cursor: pointer;
}
.kick-pad{
    background:rgb(198, 115, 185) ;
}
.hihat-pad{
    background:rgb(125, 169, 123) ;
}
.snare-pad{
    background:rgb(196, 124, 124) ;
}
.snare-pad.active{
    background:rgb(195, 38, 38) ;
}
.hihat-pad.active{
    background:rgb(68, 170, 62) ;
}
.kick-pad.active{
    background:rgb(199, 47, 176) ;
}
.kick-track,
.hihat-track,
.snare-track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 5rem;
}
.kick,
.snare,
.hihat{
    display: flex;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button{
    padding:1rem;
    border: none;
    background: rgb(23, 22, 22);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5 ease;

}
.pad{
    transition: all 0.5s ease;
}
.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(23, 22, 22);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 2.2rem;
}
select{
    padding: 1rem;
    font-size: 1rem;
}
@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}